<table class="table">

    <tbody>

        {% for record in records %}

            <tr>
                {# First Column - Images #}
                <th>
                    {% if record.image is not empty %}
                        <a href="{{ image(record.image) }}">
                            <img src="{{ thumbnail(record.image, 100, 75) }}" alt="{{ (record.image).alt|default(record.title) }}">
                        </a>
                    {% else %}
                        <p>No Image Available</p>
                    {% endif %}
                </th>

                {# Second Column - Description #}
                <th>
                    <h4 class="listing-title"><a href="{{ record.link }}">{{ record.title }}</a></h4>
                    <p class="listing-teaser">{{ record.teaser }}</p>
                    <p class="listing-date d-block d-sm-none">{{ record.datecreated|date('M d, Y') }}</p>
                </th>

                {# Third Column - Details #}
                <th>
                    <p class="listing-date d-none d-sm-block">{{ record.datecreated|date('M d, Y') }}</p>
                </th>
            </tr>

        {% else %}

            <tr>
                <p>No posts available to display.</p>
            </tr>

        {% endfor %}

    </tbody>

</table>