<div class="container-fluid tbox">

    <div class="row">

        {# left box #}
        {% setcontent block = 'blocks/triplea' %}
        {% if block.image %}
        <div class="col-md-4 tbox-left tbox-content" style="background-image: url('{{ thumbnail(block.image, 1000, 450) }}');">
        {% else %}
        <div class="col-md-4 tbox-left tbox-content">
        {% endif %}
            {% if block.title %}
                <div class="tbox-titlebox">
                    <h2>{{ block.title }}</h2>
                </div>
            {% endif %}
            {% setcontent entries = 'entries' %}
            <div class="tbox-counter">
                <h3>{{ entries|length }} Articles</h3>
                {% if block.content %}
                    <p>{{ block.content }}</p>
                {% endif %}
            </div>
        </div>

        {# center  box #}
        {% setcontent block = 'blocks/tripleb' %}
        {% if block.image %}
        <div class="col-md-4 tbox-center tbox-content" style="background-image: url('{{ thumbnail(block.image, 1000, 450) }}');">
        {% else %}
        <div class="col-md-4 tbox-center tbox-content">
        {% endif %}
            {% if block.title %}
                <div class="tbox-titlebox">
                    <h2>{{ block.title }}</h2>
                </div>
            {% endif %}
            {% if block.content %}
                <p>{{ block.content }}</p>
            {% endif %}
        </div>

        {# right box #}
        {% setcontent block = 'blocks/triplec' %}
        {% if block.image %}
        <div class="col-md-4 tbox-right tbox-content" style="background-image: url('{{ thumbnail(block.image, 1000, 450) }}');">
        {% else %}
        <div class="col-md-4 tbox-right tbox-content">
        {% endif %}
            {% setcontent block = 'blocks/triplec' %}
            {% if block.title %}
                <div class="tbox-titlebox">
                    <h2>{{ block.title }}</h2>
                </div>
            {% endif %}
            <div class="tbox-counter">
                {% setcontent entries = 'galleries' %}
                <h3>{{ entries|length }} Galleries</h3>
                {% if block.content %}
                    <p>{{ block.content }}</p>
                {% endif %}
            </div>
        </div>

    </div>

</div>