{% extends 'partials/_master.twig' %}

{# photoswipe dependencies #}
{% block csshead %}
    <!-- Photoswipe CSS-->
    <link rel="stylesheet" href="{{ asset('css/photoswipe/photoswipe.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/photoswipe/default-skin/default-skin.css', 'theme') }}">
{% endblock csshead %}
{% block jsbody %}
    <!-- Photoswipe JS -->
    <script src="{{ asset('js/photoswipe.min.js', 'theme') }}"></script>
    <script src="{{ asset('js/photoswipe-ui-default.min.js', 'theme') }}"></script>
    <script>
        var images = [
            {% for image in gallery.gallery %}
                {
                    'src': "{{ asset(image.filename, 'files') }}",
                    'w': {{ imageinfo(image.filename).width }},
                    'h': {{ imageinfo(image.filename).height }},
                    'msrc': "{{ thumbnail(image, 500, 250) }}",
                    'title': "{{ image.title }}",
                },
            {% endfor %}
        ];

        var pswpElement = document.querySelectorAll('.pswp')[0];

        function openGallery(index) {
            var options = {
                closeOnScroll: false,
                closeOnVerticalDrag: false,
                index: index,
                history: false,
            };

            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, images, options);
            gallery.init();
        };
    </script>
{% endblock jsbody %}

{% block body %}

    <div id="gallery" class="main-content nav-offset">

        <div class="container gallery-container">

            {# title and teaser #}
            <div class="titleset">
                <div>
                    <h1>{{ gallery.title }}</h1>
                </div>
                <div>
                    <h2>{{ gallery.teaser }}</h2>
                </div>
            </div>

            <div class="gallery-images">
                {# display images in rows of 5 #}
                {% for row in gallery.gallery|batch(5, '') %}
                    <div class="row gallery-row">
                        {% for image in row %}
                            {% if not image is empty %}
                                <div class="col-md gallery-image">
                                    <a href="" onclick="openGallery({{ loop.parent.loop.index0 * 5 + loop.index - 1  }});return false;">
                                        <img src="{{ thumbnail(image, 250, 150) }}">
                                    </a>
                                </div>
                            {% else %}
                                <div class="col-md">&nbsp;</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            {# display warning bar if set #}
            {% if not gallery.warning is empty %}
                <div class="alert alert-danger" role="alert">
                    {{ gallery.warning }}
                </div>
            {% endif %}

            {{ gallery.body }}

        </div>

    </div>

    {{ include('partials/_photoswipe.twig') }}

    {{ include('partials/_footer.twig') }}

{% endblock body %}