{% extends 'partials/_master.twig' %}

{% block body %}

    <div id="listing" class="main-content nav-offset">

        <div class="container">

            <div class="titleset">
                <div>
                    <h1>{{ first(records).contenttype.name }}</h1>
                </div>
                <div>
                    <h2>There are {{ first(records).contenttype|length }} {{ first(records).contenttype.name }} available.</h2>
                </div>
            </div>

            {{ pager(template = 'partials/_listing_pagination.twig') }}

            {{ include('partials/_listing_items.twig') }}

            <div class="listing-pagination-bottom">
                {{ pager(template = 'partials/_listing_pagination.twig') }}
            </div>

        </div>

    </div>

    {{ include('partials/_footer.twig') }}

{% endblock body %}