{% extends 'partials/_master.twig' %}

{% block title %}
    <title>
        {% if search is not empty %}
            Search Results For {{ search }} - {{ config.get('general/sitename') }}
        {% else %}
            {{ __('general.phrase.search') }}
        {% endif %}
    </title>
{% endblock title %}

{% block body %}

    <div id="search" class="main-content nav-offset">

        <div class="container">

            <div class="titleset">
                <div>
                    <h1>
                        {% if search is not empty %}
                            {{ __('general.phrase.search-results-for-variable', { '%search%': search }) }}
                        {% else %}
                            {{ __('general.phrase.search') }}
                        {% endif %}
                    </h1>
                </div>
                <div>
                    <h2>{{ searchresult.no_of_results }} results for {{ search }} found.</h2>
                </div>
            </div>

            {{ pager(template = 'partials/_search_pagination.twig') }}

            {{ include('partials/_search_items.twig') }}

            <div class="listing-pagination-bottom">
                {{ pager(template = 'partials/_search_pagination.twig') }}
            </div>

        </div>

    </div>

{% endblock body %}